{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>سجل الخزنة</title>
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container-fluid text-center m-auto">
    <h1 class="h4 mt-3">البحث</h1>
    <div class="row">
        <div class="col-12">
            <form class="border m-auto " action="#" >
                <input class="w-100 form-control" name="q" placeholder="ابحث بالاسم / رقم العملية / رقم العميل">
                <input type="submit" class="form-control btn btn-info" value="ابحث">
            </form>
        </div>
    </div>
    <h1 class="h3 border p-3 mb-5 mt-3">سجل الطلبات</h1>
    <div class="row mt-5 mb-3 bg-white w-100" style=" position: fixed; top: 14rem; display: inline-block; left: 0rem; z-index:2; overflow:scroll; height:67vh">
        <div class="col-10 m-auto border border-primary p-4">
            {% for record in  records%}
            <div class="border p-3 h5">
                <label>نوع العملية : </label><span>{{records.kind}}</span> /
                <label>رقم الفاتورة : </label><span>{{record.masterInvoice.counter}}</span> /
                <label>اسم العميل : </label><span><a href="#">{{record.masterInvoice.clientMI.name}}</a></span> /
                <label>نوع العملية : </label><span>{{record.masterInvoice.invoiceType}}</span> /
                <label>المبلغ : </label><span>{{record.amount}}</span> /
                <div>
                    <a class="btn btn-danger d-100" href="#">عرض الطلب بالتفصيل</a>
                    <a class="btn btn-primary" href="#">اضافة مبلغ</a>
                </div>
            </div>
            {% endfor %}
        </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}