{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>اضافة / تعديل سجل عميل</title>
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="container-fluid text-center m-auto">
    <h1>{% if form.instance.pk %}تعديل{% else %} انشاء {% endif %} عميل</h1>
    <div class="row">
        <div class="col-10 m-auto">
            <form method="post">
                    {% csrf_token %}
                    {{ form | crispy}}
                <button type="submit" class="btn btn-danger text-white">حفظ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}