{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>حذف صورة</title>
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="container-fluid text-center m-auto pt-5">
    <h1>{% if form.instance.pk %}حذف{% else %} انشاء {% endif %} الصورة  {{object}}</h1>
    <div class="row">
        <div class="col-10 ml-auto mr-auto mb-5 border border-danger p-4">
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy}}
                <button type="submit" class="btn btn-danger text-white d-block w-100 h3">تأكيد حذف الصورة</button>
                <a class="btn btn-info text-white d-block w-100 h3" href="{% url 'img:list' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}