{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>اضافة / تعديل سجل قماش</title>
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="container-fluid text-center m-auto">
    <h1>{% if form.instance.pk %}تعديل{% else %} انشاء {% endif %} سجل قماش</h1>
    <div class="row">
        <div class="col-10 ml-auto mr-auto mb-5 border border-danger p-4">
            <form method="post">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <input type="color" id="colorSelect" name="{{ form.color.name }}" value="" style="width: 100px; height: 60px;">
                <button type="submit" class="btn btn-danger text-white d-block w-100 h3 mt-3">حفظ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    $("#colorSelect").change(function(){
        let color = $(this).val();
        $("#id_color").css('background',color)
        console.log($(this).val())
    })
{% endblock %}