{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>اضافة / تعديل سجل عملية بيع</title>
{% endblock %}

{% block style %}


{% endblock %}

{% block content %}
<div class="container-fluid text-center m-auto">
    <h1 class="h1 border p-3 mb-5 mt-3">{% if form.instance.pk %}تعديل{% else %} انشاء {% endif %} عملية تفصيل </h1>
    <div class="row">
        <div class="col-12 mb-5 border border-danger p-4">
            <form method="post" class="h3">
                {{ form.media }}

                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-4 mb-0">
                        {{ form.masterInvoice|as_crispy_field }}
                    </div>
                    <div class="form-group col-4 mb-0">
                        {{ form.clientS|as_crispy_field }}
                    </div>
                    <div class="form-group col-4 mb-0">
                        {{ form.statue|as_crispy_field }}
                    </div>
                <div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-3 mb-0">
                        {{ form.total|as_crispy_field }}
                    </div>
                    <div class="form-group col-3 mb-0">
                        {{ form.paid|as_crispy_field }}
                    </div>
                    <div class="form-group col-3 mb-0">
                        {{ form.remain|as_crispy_field }}
                    </div>
                    <div class="form-group col-3 mb-0">
                        {{ form.receve_date|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    {{ form.media }}
                    <div class="form-group col">
                        {{ form.tall|as_crispy_field }}
                    </div>
                    <div class="form-group col">
                        {{ form.sadr|as_crispy_field }}
                    </div>
                    <div class="form-group col-2">
                        {{ form.kom|as_crispy_field }}
                    </div>
                    <div class="form-group col">
                        {{ form.ktf|as_crispy_field }}
                    </div>
                    <div class="form-group col">
                      {{ form.kazna|as_crispy_field }}
                  </div>
                  <div class="form-group col">
                      {{ form.atak|as_crispy_field }}
                  </div>
                  <div class="form-group col-2">
                      {{ form.t|as_crispy_field }}
                  </div>
                    <!-- Female-specific Fields (Only if they exist in form) -->
                    {% if form.batn or form.hanch or form.sd or form.sh %}
                    <hr>

                    <div class="form-row">
                      <span class="text-danger">قياسات خاصة بالملابس الحريمى</span>
                        {% if form.batn %}
                            <div class="form-group col">
                                {{ form.batn|as_crispy_field }}
                            </div>
                        {% endif %}
                        {% if form.hanch %}
                            <div class="form-group col">
                                {{ form.hanch|as_crispy_field }}
                            </div>
                        {% endif %}
                        {% if form.sd %}
                            <div class="form-group col">
                                {{ form.sd|as_crispy_field }}
                            </div>
                        {% endif %}
                        {% if form.sh %}
                            <div class="form-group col">
                                {{ form.sh|as_crispy_field }}
                            </div>
                        {% endif %}
                        {% else %}
                      <div class="form-group col-3">
                          {{ form.leaka|as_crispy_field }}
                      </div>

                    </div>
                {% endif %}

                </div>

                <button type="submit" class="btn btn-danger text-white d-block w-100 h3 mt-3">تسجيل باقى البيانات</button>
            </form>
        </div>
</div>

{% endblock %}

{% block script %}

$("#id_receve_date").attr('type', 'date')

setTimeout(function(){
    $("div.alert.alert-danger").hide()
},50)


// make js code to loop throw all inputs and change the style or css



$("#div_id_is_deleted").hide()

$("#id_paid").keyup(function(){

    $("#id_remain").attr('value', $("#id_total").val() - $("#id_paid").val())

})
{% endblock %}