{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>اضافة / تعديل سجل قماش</title>
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container-fluid text-center m-auto">
    <h4 class="h4 border p-3 mb-5 mt-3">{% if form.instance.pk %}تعديل{% else %} انشاء {% endif %} طلب </h4>
    <div class="row">
        <div class="col-5 mb-5 border border-danger p-4">
            <form method="post">
                    {% csrf_token %}
                    {{ form | crispy}}
                <button type="submit" class="btn btn-danger text-white d-block w-100 h3 mt-3">تسجيل باقى البيانات</button>
            </form>
        </div>
        <div class="col-5 mr-auto ml-auto h4">
            {% if detailedOrders %}
                {% for detailed_order in detailedOrders %}
                    <div class="border m-2 p-2">
                        <label>اسم الطلب : </label>
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample-{{detailed_order.id}}" aria-expanded="false" aria-controls="collapseExample-{{detailed_order.id}}">
                            {{ detailed_order.name }}
                        </button>
                        <div class="collapse" id="collapseExample-{{detailed_order.id}}">
                            <div class="card card-body mt-2">
                                <p class="border p-2   h4">رقم الفاتورة / العملية : {{ detailed_order.masterInvoice.id }}</p>
                                <p class="border p-2   h4">رقم العميل : {{ detailed_order.masterInvoice.clientMI.id }}</p>
                                <p class="border p-2   h4">اسم العميل : <a href="#">{{ detailed_order.masterInvoice.clientMI.name }}</a></p>
                                <p class="border p-2   h4">القماش : {{ detailed_order.clothD }}</p>
                                <p class="border p-2   h4">الكمية : {{ detailed_order.used }}</p>
                                <p class="border p-2   h4">التفاصيل : {{ detailed_order.details }}</p>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <a class="btn btn-primary w-100 p-2" href="{% url 'order:finalPart' pk=master_invoice_pk %}">إستكمال باقى البيانات</a>

            {% else %}
                <h4>لا توجد طلبات سابقة لعملية البيع</h4>
                {# Display other information when detailed_order does not exist #}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

$("#id_used").keyup(function(){
    let cloth_storged_amount = ($("#id_storge").val()),
        id_used              = ($("#id_used").val());
    $("#id_remain").attr('value', cloth_storged_amount-id_used )
    console.log("remain => ", cloth_storged_amount - id_used)
})

// get cloth storge amount

$("#id_clothD").change(function(){
    let clothId = $("#id_clothD").val();
    $.post('/order/getClothStorgedAmount',   // url   
        JSON.stringify({ clothId: clothId }), 
            function(data, status, jqXHR) {// success callback
                var cloth_storged_amount = data.cloth_storged_amount;
                console.log("cloth_storged_amount => ", cloth_storged_amount)
            //$('#id_storge').attr('value', cloth_storged_amount)
            $('#id_storge').val(data.cloth_storged_amount)
            
        })
})



$("#div_id_is_deleted").hide()
$("div.col-5.mb-5.border.border-danger.p-4").css({
    "font-size":"1.5rem",
    "font-weight":"900",
    
})

$("#id_masterInvoice").css({
    "font-size":"1.5rem",
    "font-weight":"900",
    "height":"3rem"
})

$("#id_name").css({
    "font-size":"1.5rem",
    "font-weight":"900",
})

$("#id_clothD").css({
    "font-size":"1.5rem",
    "font-weight":"900",
    "height":"3rem"

})

$("#id_used").css({
    "font-size":"1.5rem",
    "font-weight":"900",
})


$("#id_details").css({
    "font-size":"1.5rem",
    "font-weight":"900",
})

$("#id_storge").css({
    "font-size":"1.5rem",
    "font-weight":"900",
})


$("#id_remain").css({
    "font-size":"1.5rem",
    "font-weight":"900",
})


/// make a fixed 2 function one to change font weight and size and aonther to change too the height of the field 

{% endblock %}