{% extends "homee/index.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>سجل المبيعات</title>
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container-fluid text-center m-auto">
    <h1 class="h4 mt-3">البحث</h1>
    <div class="row">
        <div class="col-12">
            <form class="border m-auto " action="#" >
                <input class="w-100 form-control" name="q" placeholder="ابحث بالاسم / رقم العملية / رقم العميل">
                <input type="submit" class="form-control btn btn-info" value="ابحث">
            </form>
        </div>
    </div>
    <h1 class="h3 border p-3 mb-5 mt-3">سجل الطلبات</h1>
    <div class="row mt-5 mb-3 bg-white w-100" style=" position: fixed; top: 14rem; display: inline-block; left: 0rem; z-index:2; overflow:scroll; height:67vh">
        <div class="col-10 m-auto border border-primary p-4">
            <table class="table text-center table-striped table-hover table-bordered w-100" id="" style="">
                <tr>
                    <th>رقم العملية</th>
                    <th>اسم العميل</th>
                    <th>نوع الطلب</th>
                    <th>تاريخ الطلب</th>
                    <th>حالة الطلب</th>
                    <th>تاريخ التسليم</th>
                    <th>أوامر</th>
                    <th>تسليم الطلب</th>
                </tr>
                {% for masterInvoice in  masterInvoices%}
                <tr>
                    <td>{{masterInvoice.counter}}</td>
                    <td>{{masterInvoice.clientMI.name}}</td>
                    <td>{{masterInvoice.invoiceType}}</td>
                    <td>
                        {% for basicInvoiceInfo in masterInvoice.basicinvoiceinfo_set.all %}
                            <!-- Display details from BasicInvoiceInfo model -->
                          {{ basicInvoiceInfo.created_at|date:'Y-m-d'}}</span>
                            <!-- Add more fields as needed -->
                        {% endfor %}
                    </td>
                    <td>
                        {% for basicInvoiceInfo in masterInvoice.basicinvoiceinfo_set.all %}
                            <!-- Display details from BasicInvoiceInfo model -->
                          {{ basicInvoiceInfo.get_statue_display}}</span>
                            <!-- Add more fields as needed -->
                        {% endfor %}
                    </td>
                    <td>
                        {% for basicInvoiceInfo in masterInvoice.basicinvoiceinfo_set.all %}
                            <!-- Display details from BasicInvoiceInfo model -->
                            {{ basicInvoiceInfo.receve_date|date:'Y-m-d'}}</span>
                            <!-- Add more fields as needed -->
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary text-white">btn</a>
                        <a class="btn btn-info text-white">btn</a>
                    </td>
                    <td>
                        <a class="btn btn-danger text-white">btn</a>
                    </td>
                </tr>
                {% endfor %}    
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
console.log("test")

$("#id_paid").keyup(function(){
    $("#id_remain").attr('value', $("#id_total").val() - $("#id_paid").val())
})
{% endblock %}