<!DOCTYPE html>
<html lang="ar">
<head>
    {% load static %}
    {% block title %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "homee/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'homee/js/jquery.min.js' %}"></script>
    </style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body style="direction:rtl">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home:homepage' %}">البوشى</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:homepage' %}">الرئيسية <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-white" href="{% url "client:create" %}">اضافة عميل</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-white" href="{% url "order:list" %}">البحث عن عملية بيع</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-white" href="{% url "order:createMain" %}">عملية بيع جديدة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-white" href="{% url "kazna:list" %}">سجل الخزنة</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">باقى لينكات الوصول السريع</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url "client:list" %}">قائمة العملاء</a>
                        <a class="dropdown-item" href="{% url "client:create" %}">اضافة عميل جديد</a>
                        <a class="dropdown-item" href="{% url "order:createMain" %}">عملية بيع جديدة</a>
                    </div>
                </li>
            </ul>
            
        </div>
    </nav>
    <main role="main" class="container mt-5 pt-3">
        {% block content %}{% endblock %}
    </main>
    
    <script src="{% static 'homee/js/jquery.min.js' %}"></script>
    <script src="{% static 'homee/js/popper.min.js' %}"></script>
    <script src="{% static 'homee/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        {% block script %}{% endblock %}
    </script>
    
</body>