body, .h3, h1.h1, .btn:not(:disabled):not(.disabled), label, select, input{
    text-align: center!important;
    font-size: 1.7rem!important;
    font-weight: 900!important;
    font-family: none!important;
}

label, h1.h1{
    color:red
}

select.form-control:not([size]):not([multiple]){
    height:calc(3.25rem + 2px)
}

.btn.home:not(:disabled):not(.disabled){
    font-size:2.7rem!important;
}